.course-sidebar {
  position: sticky;
  top: 5rem;
  padding: 1.5rem;
  background-color: var(--section-bg);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .course-sidebar {
    margin-bottom: 0;
  }
}

.course-details {
  margin: 5rem 0;
}
/* tabs starts */
.course-details__content .css-1lgwvxp {
  position: sticky;
  top: var(--header-height);
  z-index: 999  !important;
}
.tabs {
  border-bottom: 2px solid var(--gray);
  background-color: var(--app-bg) !important;
  z-index: 999;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
  padding: 0 .5rem;
}
.tabs__item {
  flex: 1 !important;
  font-family: var(--secondary-font) !important;
  color: var(--orange) !important;
  padding: 2rem 1rem !important;
  cursor: pointer !important;
  transition: color 150ms !important;
  font-size: 1.4rem !important;
  user-select: none !important;
}
.MuiTabs-indicator {
  background-color: var(--orange) !important;
  bottom: -1px !important;
}
.tabs__item:hover {
  color: var(--orange);
}
.tabs__item--active {
  color: var(--orange);
}
.tabs__line {
  width: 8rem;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  bottom: -2px;
  transition: all var(--transition);
}
/* tabs ends */

/* tab contents activation starts */
.tab-content {
  margin-top: 4rem;
  /* display: none; */
  animation: to-right 0.5s;
}
.tab-content--active {
  display: block;
  animation: to-right 0.5s;
}
@keyframes to-right {
  from {
    opacity: 0.5;
    transform: translateX(8rem);
  }
  to {
    transform: translateX(0);
  }
}
/* tab contents activation ends */

/* course side bar starts*/
.course-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-price__new-price {
  color: var(--orange);
  font-size: 2rem;
}
.course-price__price {
  color: var(--gray);
  font-size: 1.3rem;
  text-decoration: line-through;
}
.course-price__discount-percentage {
  background-color: var(--green);
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.course__register-btn {
  background-color: var(--purple);
  color: #fff;
  border-radius: 10rem;
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin: 2rem 0;
}

.course__details-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--yellow);
  font-size: 1.3rem;
}
.course__details-menu-item:last-of-type {
  border-bottom: 0;
}
.course__details-menu-icon {
  color: var(--green);
}
.course__details-menu-title {
  flex: 1;
  margin-right: 0.5rem;
}
.course__details-menu-info {
  color: var(--gray);
}
/* course side bar ends*/
