/* course overview starts */
.course-overview {
  font-size: 1.4rem;
  color: var(--gray);
}
.course-overview__title {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--blue);
}
.course-overview__description p {
  margin-bottom: 2rem;
}
.course-overview__video {
  width: 100%;
  border-radius: 1rem;
}
.course-overview__menu {
  padding-right: 3rem;
  margin-bottom: 5rem;
}
.course-overview__menu li {
  position: relative;
}
.course-overview__menu li::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 1px;
  background-color: var(--gray);
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
}
/* course overview ends */