.countdown__timer {
  display: flex;
  font-size: 1.4rem;
  gap: .1rem;
}

.countdown__seconds {
  color: var(--red);
}
.countdown__minutes,
.countdown__hours,
.countdown__days {
  color: var(--blue);
}
