@font-face {
  font-family: "Vasir";
  src: url("./../assets/fonts/shabnam/Shabnam-Light-FD.ttf");
}
@font-face {
  font-family: "Persian Titraj";
  src: url('./../assets/fonts/Persian-Titraj/persian-titraj.ttf');
}