/* course teacher starts */
.teacher-info {
  display: flex;
  flex-direction: column;
}
.teacher-info__img {
  height: 30rem;
  border-radius: 2rem;
}
.teacher-info__content {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.teacher__name {
  display: block;
  color: var(--gray);
  font-family: var(--title-font);
  font-size: 3rem;
}
.teacher__teaching-category {
  color: var(--red);
}
.teacher__contacts {
  margin: 1rem 0;
}
.teacher__contacts-info {
  font-size: 1.4rem;
  color: var(--purple);
}
.teacher__socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.teacher__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: all var(--transition);
}
.teacher__socials a:hover {
  background-color: transparent;
}
.teacher__socials a:hover .teacher__socials-icon {
  color: var(--green);
}
.teacher__socials-icon {
  transition: all var(--transition);
}
.teacher__contact-me-btn {
  background-color: var(--blue);
  padding: 0.5rem 3rem;
  border-radius: 10rem;
  color: #fff;
}
.teacher__description {
  padding: 2rem;
}
.teacher__greeting {
  display: block;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  font-size: 4rem;
}
.teacher__bio {
  font-size: 1.3rem;
  line-height: 1.8;
  color: var(--gray);
}

@media (min-width: 576px) {
  .teacher-info {
    flex-direction: row;
  }
  .teacher-info__img {
    width: 50%;
    height: 25rem;
  }
  .teacher-info__content {
    text-align: right;
  }
  .teacher__socials {
    justify-content: flex-start;
  }
}
/* course teacher ends */