.breadcrumb {
  list-style: none;
  overflow: hidden;
  text-align: right;
}
.breadcrumb li {
  float: right;
}
.breadcrumb li a {
  padding: 10px 55px 10px 20px;
  background: green;
  /* fallback color */
  background: var(--app-bg);
  position: relative;
  display: block;
  /* float: right; */
}
.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-right: 30px solid var(--app-bg);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 100%;
  z-index: 2;
}
.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-right: 35px solid var(--section-bg);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-right: 1px;
  right: 100%;
  z-index: 1;
}
.breadcrumb li:last-child a {
  /* background: white !important; */
  /* color: black; */
  pointer-events: none;
  cursor: default;
}
.breadcrumb li:last-child a:after {
  /* border: 0; */
}
.breadcrumb li:last-child a:before {
  border: 0;
}
.breadcrumb li a:hover {
  /* background: hsla(34, 85%, 25%, 1); */
}