.breadcrumb {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding: 0 2rem;
}

.breadcrumb-item:not(:last-child) {
  position: relative;
}

.breadcrumb-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  left: -1rem;
  top: 50%;
  transform: rotate(10deg) translateY(-50%);
  background-color: var(--text-color);
  opacity: .7;
}
