/* hero starts */
.hero {
  /* background-color: #f3f3f3; */
  min-height: calc(100dvh - var(--header-height));
  transition: var(--transition);
}
.glow-effect {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 10rem;
  box-shadow: 7rem 7rem 10rem 2rem #9107e7a8;
}
.glow-effect-2 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 0;
  box-shadow: -35rem -1rem 10rem 2rem #0d00ff;
}

/* hero ends */
