@import "./../../styles/modules/split-container.css";
@import "./../../styles/modules/animations.css";

/* hero starts */
.hero {
  /* background-color: #f3f3f3; */
  min-height: calc(100dvh - var(--header-height));
  transition: var(--transition);
  padding: 5rem 0;
  align-self: center;
  position: relative;
}
.hero__title {
  font-family: var(--title-font);
  font-size: 5rem;
  background-image: linear-gradient(to right, #1c93df, #860f83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 45rem;
}
.hero__caption {
  margin: 3rem 0;
  font-size: 1.3rem;
  color: var(--gray);
  line-height: 1.8;
}
.hero__image {
  position: relative;
  border-radius: 0 25rem 25rem 0;
  overflow: hidden;
  border: 1rem solid #fff;
  border-left: 0;
  z-index: 1;
}
.hero-absolute-image__cap {
  position: absolute;
  top: 10rem;
  left: 60%;
  animation: movement-x 3s infinite forwards alternate;
}
.hero-absolute-image__arrow {
  position: absolute;
  /* rotate: 180deg; */
  animation: movement-x 3s 1s infinite alternate;
  top: 38rem;
  right: 30%;
}

/* hero ends */
