@import "./styles/primary-styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-bg: #f1eaea;
    --section-bg: #f9f9f9;
  }

  :root.dark {
    --app-bg: #242329;
    --section-bg: #312f3c;
  }
  .grid-system {
    @apply grid grid-cols-12 gap-3;
  }

  .old-price {
    @apply relative text-[var(--gray)] text-lg me-4 before:absolute before:content-[''] before:w-full before:h-[0.1rem] before:bg-[var(--red)] before:top-1/2 before:-translate-y-2/4 before:-rotate-12;
  }
}

input {
  border: 0;
  outline: 0;
  color: var(--text-color);
}

.Toastify__toast-body {
  font-family: "vasir";
}
