/* active classes for NavMenuLinks */

.active {
  position: relative;
  color: var(--red);
}

.active::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--red);
  height: 8px;
  bottom: -5px;
  border-radius: 0.5rem;
  transform: rotate(-4deg);
}
